$max-width: 1920px;
$text-color: #ffffff;
$background-color:linear-gradient(0deg, #0069e3, #0056ba);

$spider-man-616-height: 360px;
$spider-woman-65-height: 300px;
$spider-man-1610-height: 324px;
$spider-man-8311-height: 146px;   
$spider-man-30214-height: 376px;
$spider-man-928-height: 360px; 
